@media screen and (min-width: 428px) {
    .container {
        width: 426px;
        margin: 0 auto;
    }
    .adress-link-menu-tel {
        font-size: 36px;
    }
    .subscribe-input {
        width: 396px;
    }
    .modal {
        width: 392px;
    }
    .modal-form-input {
        width: 360px;
    }
    .modal-form-comment {
        width: 360px;
    }
    .social-media-list-menu {
        gap: 56px;
    }
    .hero {
        background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero-tab.jpeg);
    }
}

@media screen and (max-width: 767px) {
    .header-menu, .contacts {
        display: none;
    }
    .footer-container-text {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
    /* ----------------------------HEADER------------------------------ */
    .mob-menu-btn {
        display: none;
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
        
    .header-navigation {
        display: flex;
        align-items: center;
    }
    .header-logo-link {
        margin-right: 120px;
    }
    .header-menu {
        display: flex;
        gap: 40px;
        margin-right: 121px;
    }
    .header-item {
        position: relative;
    }
    .header-link {
                font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark-color-title);
        transition: color, var(--transition-style);
    }  
    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }
    .current {
        position: relative;
    }
    .current:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -28px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }    
    .adress-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color, var(--transition-style);
    }
    .adress-link:hover,
    .adress-link:focus {
        color: #404bbf;
    }
    /* -------------------------------------HERO------------------------------------- */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero-tab.jpeg);
    }
    .hero-title {
        max-width: 500px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
    /* -----------------------ABOUT-------------------------- */
    .about-text {
        max-width: 356px;
        margin: 0;
    }
    .about-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .about-list {
        display: flex;
        flex-wrap: wrap;
        gap: 70px 24px;
    }
    /* -----------------------TEAM-------------------------- */
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 64px 24px;
    }
    /* -----------------------CUSTOMERS-------------------------- */
    .customers-list {
        grid-gap: 72px 24px;
    }
    /* -----------------------FOOTER-------------------------- */
    .footer {
        display: flex;
        padding-left: 108px;
    }
    .bottom-container-footer {
        display: flex;
        gap: 24px;
        align-items: baseline;
    }
    .footer-container-text {
        align-items: flex-start;
    }
    .footer-social-media-subtitle {
        text-align: start;
    }
    .subscribe-input-btn {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .subscribe-text {
        text-align: start;
    }
    .subscribe-input {
        width: 264px;
        margin-bottom: 0;
    }
    .subscribe-btn {
        margin: 0;
    }
     /* -----------------------PORTFOLIO-------------------------- */
    .portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .projects-item {
        width: 356px;
    }
    .projects-list {
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 72px 24px
    }
}

@media screen and (max-width: 1157px) {
    .about-icons-container {
        display: none;
    }
    .activity {
        display: none;
    }
    .bottom-container-footer {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
     /* -----------------------HEADER-------------------------- */
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .logo-half-header {
        margin-right: 75px;
    }
    .header-contacts-list {
        display: flex;
        gap: 40px;
    }
    .adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--transition-style);
    }
    .adress-link:hover,
    .adress-link:focus {
        color: #404BBF;
    }
    /* -----------------------HERO-------------------------- */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero.jpeg);
        padding: 188px 0;
    }
    .hero-container {
        gap: 48px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    /* -----------------------ABOUT-------------------------- */
    .about {
        padding: 120px 0;
    }
    .about-list {
        display: flex;
        justify-content: space-between;
    }
    .about-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
    }
    .about-text {
        max-width: 264px;
        margin-top: 8px;
    }
    .about-icons-container {
        width: 264px;
        height: 112px;
        background-color: #F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* -----------------------ACTIVITY-------------------------- */
    .activity {
        padding-bottom: 120px;
    }
    .activity-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-color-title);
        text-align: center;
    }
    .activity-list {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
    }
    /* -----------------------TEAM-------------------------- */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    /* -----------------------CUSTOMERS-------------------------- */
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-list {
        gap: 24px;
    }
    .customer-item {
        width: 168px;
    }
    /* -----------------------FOOTER-------------------------- */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container {
        display: flex;
        align-items: baseline;
    }
    .bottom-container-footer {
        gap: 0;
    }
    .footer-container-text {
        margin-right: 50px;
    }
    .footer-text {
        margin-bottom: 0;
    }
    .social-list-footer {
        margin-right: 80px;
        margin-bottom: 0;
    }
    .social-media-list-footer {
        margin-bottom: 0;
    }
    .subscribe-input {
        margin-bottom: 0;
        width: 264px;
    }
    .bottom-container-footer {
        margin-bottom: 0;
    }
    /* ---------------------------------PORTFOLIO-------------------------------- */
    .portfolio {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 1300px) {
    .footer-container-text {
        margin-right: 120px;
    }
}

@media sceen and (min-device-pixel-ratio: 2),
sceen and (-webkit-min-device-pixel-ratio: 2),
sceen and (min-resolution: 192dpi),
sceen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero-mob-2x.jpg);
    }
    }

@media sceen and (min-device-pixel-ratio: 2) and (min-width: 768px),
sceen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
sceen and (min-resolution: 192dpi) and (min-width: 768px),
sceen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero-tab@2x.jpeg);
    }
}

@media sceen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
sceen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px),
sceen and (min-resolution: 192dpi) and (min-width: 1158px),
sceen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero@2x.jpeg);
    }
}