:root {
    --dark-color-title: #2E2F42;
    --background-color-dark: #2E2F42;
    --transition-style: 250ms cubic-bezier(0.4, 0, 0.2,1);
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.no-scroll {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 15px 0 15px;
}


/* -----------------------HEADER-------------------------- */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    padding: 24px 16px 22px 16px;
}
.header-container {
    display: flex;
    align-items: center;
}


.header-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}

.logo-half-header {
    color: #2E2F42;
}

.mob-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
}

.icon-menu-mob {
    stroke: #2E2F42;
}

/* -----------------------MENU-MOBILE-------------------------- */

.menu-mob-nav {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-close-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color var(--transition-style);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.adress-link-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.adress-link-menu-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;  
    letter-spacing: 0.02em;
    color: #434455;
}


.social-media-item-menu {
    width: 40px;
    height: 40px;
}

.social-media-link-menu {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color, var(--transition-style);
}

.social-media-list-menu {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    margin-top: 48px;
}

.social-media-link-menu:hover,
.social-media-link-menu:focus {
    background-color: #404BBF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.current-mob {
    color: #404BBF;
}

/* -----------------------HERO-------------------------- */

.hero {
    background-color: var(--background-color-dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg-hero-mob.jpeg);
    margin:  0 auto;
    max-width: 428px;
    padding: 112px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.hero-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
max-width: 320px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 16px 32px;
    transition: background-color, var(--transition-style);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* -----------------------ABOUT-------------------------- */

.about {
    padding-top: 96px;
    padding-bottom: 96px;
}

.about-subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}

.about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

.about-text {
    margin-bottom: 72px;
}

.last-about-text {
    margin-bottom: 0;
}

/* -----------------------TEAM-------------------------- */

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.employee-container {
    background-color: #FFFFFF;
}

.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-descr-container {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
    margin-bottom: 8px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color, var(--transition-style);
}
.social-media-list {
    display: flex;
    gap: 24px;
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404BBF;
}

/* -----------------------CUSTOMERS-------------------------- */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 72px 16px;
    justify-content: center;
}

.customer-item {
    width: 190px;
    height: 88px;
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border, var(--transition-style);
}
.custumer-icon {
    fill: #8E8F99;
    box-sizing: content-box;
    transition: fill, var(--transition-style);
}

.customer-link:hover .custumer-icon,
.customer-link:focus .custumer-icon {
    fill: #404BBF;
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid #404BBF;
}

/* -----------------------FOOTER-------------------------- */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--background-color-dark);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-half-footer {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;;
    max-width: 264px;
    margin-top: 16px;
}

.social-list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-social-media-subtitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-media-list-footer {
    display: flex;
    gap: 16px;
}

.social-media-item-footer {
    width: 40px;
    height: 40px;
}

.social-media-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color, var(--transition-style);
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
    background-color: #31D0AA;
}

.subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-input {
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    width: 290px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-btn {
    background: #4D5AE5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    border-color: transparent;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.subscribe-input-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------MODAL-------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-style),
    visibility var(--transition-style);
}

.modal {
    width: 90%;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-style);
    padding: 72px 16px 24px;
}

.btn-close-nodal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-style),
    fill var(--transition-style);
}

.btn-close-nodal:hover,
.btn-close-nodal:focus {
    background-color: #404BBF;
    fill: #F4F4FD;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.title-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
    margin-bottom: 16px;
}

.form-label-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-submit {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding: 16px 32px;
    width: 168px;
    align-self: center;
    transition: background-color, var(--transition-style);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: #404BBF;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    transition: border-color var(--transition-style);
}


.modal-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.modal-form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    transition: border-color var(--transition-style);
    resize: none;
}

.modal-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.user-policy-check {
    margin-bottom: 24px;
}

.modal-form-check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
}

.modal-icon-container {
    position: relative;
}

.modal-form-input-icon {
    position: absolute;
    top: 0;
    left: 16px;
    transition: fill var(--transition-style);
}

.modal-form-input:focus + .modal-form-icon-span .modal-form-input-icon {
    fill: #4D5AE5
}

.modal-icon-checkbox {
    fill: transparent;
    transition: fill var(--transition-style);
}

.modal-form-check:checked + .modal-form-check-text .modal-icon-checkbox {
    fill: #F4F4FD;
}

.modal-icon-checkbox-span {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-style),
    border var(--transition-style),
    border-color var(--transition-style);
    margin-right: 8px;
}

.modal-form-check:focus + .modal-form-check-text .modal-icon-checkbox-span {
    border-color: #4d5ae5;
}

.modal-form-check:checked + .modal-form-check-text .modal-icon-checkbox-span {
    background-color: #404BBF;
    border: none;
}

.link-user-policy {
    color: #4D5AE5;
}

/* ---------------------------------PORTFOLIO-------------------------------- */

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color var(--transition-style),
    box-shadow var(--transition-style);
}
.buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.projects-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 100%
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-descr-container {
    padding: 32px 0 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: transparent;
}

.portfolio-text-cards-container {
    position: relative;
    overflow: hidden;
}

.descr-text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    height: 100%;
    overflow: auto;
    transition: transform var(--transition-style);
}

.portfolio-link:hover .descr-text-portfolio,
.portfolio-link:focus .descr-text-portfolio {
    transform: translate(0);
}


.ptotfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;

}

.portfolio-link {
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--transition-style);
}